## List comprehensions 
'with the help of comprehensions we can write single line of code for list

In [1]:
square=[]
for i in range (1,100):
 square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [20]:
#List comprihansion

squ2=[i**2 for i in range(1,101)]
print(squ2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [21]:
movies = ["Don","Rocky","RHTDM","Rathstaan","sherlock"]
movies

['Don', 'Rocky', 'RHTDM', 'Rathstaan', 'sherlock']

In [22]:
rmovie=[]
for title in movies:
    if title.endswith('n'):
        rmovie.append(title)
print(rmovie)

['Don', 'Rathstaan']

In [ ]:
Rmovies=[]
for title in movies:
    if title.startswith("R"):
        Rmovies.append(title)
print(Rmovies)

In [23]:
rrm = [title for title in movies if title.endswith('n')]
rrm

['Don', 'Rathstaan']

In [24]:
Etty_Names = ["Mashetty","Kamshetty","Narshetty","Karabshetti","shenkshetti"]
Etty_Names

['Mashetty', 'Kamshetty', 'Narshetty', 'Karabshetti', 'shenkshetti']

In [25]:
ettyN=[]
for title in Etty_Names: 
    if title.endswith("etty"):
        ettyN.append(title)
print(ettyN)

['Mashetty', 'Kamshetty', 'Narshetty']

In [26]:
tt = [title for title in Etty_Names if title.startswith("she") or title.endswith("etty")]
print(tt)

['Mashetty', 'Kamshetty', 'Narshetty', 'shenkshetti']

In [27]:
tt = []
for title in Etty_Names:
        if title.endswith("etty") or title.startswith("she"):
            tt.append(title)
print(tt)

['Mashetty', 'Kamshetty', 'Narshetty', 'shenkshetti']

# Scalar Multiplication

In [28]:
V = [1,2,4,-16]

In [29]:
4*V

[1, 2, 4, -16, 1, 2, 4, -16, 1, 2, 4, -16, 1, 2, 4, -16]

'python do not understand if directly mulitply like above example it simply concatinate it
'even if below example same thing happen

In [30]:
[1,2,3]+[7,8]

[1, 2, 3, 7, 8]

In [31]:
w=[]
for x in V:
    w.append(x*4)
print(w)

[4, 8, 16, -64]

In [32]:
w=[4*x for x in V]
print(w)

[4, 8, 16, -64]

# Cartesian Product
if a and b are two sets,
then Cartesian produt,
is sets of pairs (a,b)
where 'a' is A and 'b' is B .

ex: AxB = {(a,b) | a is A and b is B}

In [33]:
A = [1,3,5,7]
B = [2,4,6,8]
cp = [(a,b) for a in A for b in B]
print(cp)

[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]

In [34]:
movies = [("Don",1991),("Rocky",2000),("RHTDM",2004),("Rathstaan",2007),("sherlock",2010)]
movies

[('Don', 1991),
 ('Rocky', 2000),
 ('RHTDM', 2004),
 ('Rathstaan', 2007),
 ('sherlock', 2010)]

In [35]:
Rmovies = [title for (title,year) in movies if year >= 2000]
print(Rmovies)

['Rocky', 'RHTDM', 'Rathstaan', 'sherlock']

In [36]:
Rmm = []
for title, year in movies:
    if title.startswith("Ro") and year >=2000:     
        Rmm.append(title)
print(Rmm)

['Rocky']

#### in the above example rocky movie meets only 1 criteria that is "RO" if we write year>=2000 then it will print Rocky otherwise empty will come

In [2]:
AlphaN=["398","2626","Aman","Mashetty"]
dd= [int(s) for s in AlphaN if s.isdigit()]
print(dd)

[398, 2626]

In [5]:
AlphaN=["398","2626","Aman","Mashetty"]
ddd=[]
for s in AlphaN:
    if s.isdigit():
        ddd.append(int(s))
print(ddd)

[398, 2626]

# Let add a mobile color and models

In [44]:
color = ["Red","Blue","Orange","Green"]
model = ["12","12pro","12proMax"]

In [45]:
cm = []
for colors in color:
    for models in model:
         cm.append((colors,models))
print(cm)

[('Red', '12'), ('Red', '12pro'), ('Red', '12proMax'), ('Blue', '12'), ('Blue', '12pro'), ('Blue', '12proMax'), ('Orange', '12'), ('Orange', '12pro'), ('Orange', '12proMax'), ('Green', '12'), ('Green', '12pro'), ('Green', '12proMax')]

In [46]:
cm = [(colors,models) for colors in color for models in model]
print(cm)

[('Red', '12'), ('Red', '12pro'), ('Red', '12proMax'), ('Blue', '12'), ('Blue', '12pro'), ('Blue', '12proMax'), ('Orange', '12'), ('Orange', '12pro'), ('Orange', '12proMax'), ('Green', '12'), ('Green', '12pro'), ('Green', '12proMax')]

In [47]:
print(color)

['Red', 'Blue', 'Orange', 'Green']

In [48]:
# concatinate is so simple with this trick
color + model

['Red', 'Blue', 'Orange', 'Green', '12', '12pro', '12proMax']

In [ ]:
# want to change the color or add a color in list below is the trick
if 'Blue' in color:
    print("purple") #insted

In [ ]:
color = ['Blue',
 'Green',
 'Orange',
 'Red',
 'yellow']
color

In [ ]:
# to Remove an color in the list
color.remove("yellow")
color

In [ ]:
#To add a value(color) in list just append
# but below code is not meet the criteria
color.append(["Grey","Purple","pink"])
color

In [ ]:
#To add a value(color) in list just append
#problem with append it only takes one value at a time
color + ["grey","black","Pink"]

In [ ]:
color = color
print(color)

In [ ]:
for items in color:
    print(items)

In [ ]:
#to copy of a list 
colorsss = color.copy()
colorsss

# itertools.combinations: A Better Way to
# Iterate Through a Pair of Values in a Python
# List

## If you want to iterate through a pair of values in a list and the
## order does not matter ((a,b) is the same as (b, a)), a naive
## approach is to use two for-loops.

In [49]:
num_list=[1,2,3]

for i in num_list:
    for j in num_list:
        if i < j:
            print((i,j))

(1, 2)
(1, 3)
(2, 3)

## itertools.product: Nested For-Loops in a
## Generator Expression

itertools.product is more efficient than nested loop because
product(A, B) returns the same as ((x,y) for x in A for y
in B).

In [ ]:
from itertools import product
params = {
"learning_rate": [1e-1, 1e-2, 1e-3],
"batch_size": [16, 32, 64],
}

In [ ]:
for vals in product(*params.values()):
combination = dict(zip(params.keys(), vals))
print(combination)

# want to sort with last name

In [1]:
Scifi_authors = ["Aman Mashetty","Vinod jante","Ram Naresh","Om swamy"]

In [2]:
Scifi_authors.sort(key = lambda name:name.split(" ")[-1].lower())

In [20]:
Scifi_authors = ["aman mashetty","vinod jante","ram naresh","om swamy"]
Scifi_authors.sort(key = lambda x:x.split(" ")[0].upper())

In [21]:
Scifi_authors

['aman mashetty', 'om swamy', 'ram naresh', 'vinod jante']

In [5]:
Fl_names=["Pradeep Biradar","jeetu churasiya", "sachin tichkule"]
Fl_names

['Pradeep Biradar', 'jeetu churasiya', 'sachin tichkule']

In [57]:
Fl_names.sort(key=lambda name:name.split (" ")[-1].lower())
Fl_names

['Pradeep Biradar', 'jeetu churasiya', 'sachin tichkule']

In [9]:
Fname =  Fl_names + Scifi_authors
Fname

['Pradeep Biradar',
 'jeetu churasiya',
 'sachin tichkule',
 'Aman Mashetty',
 'Vinod jante',
 'Ram Naresh',
 'Om swamy']

In [59]:
Fname.sort(key=lambda name:name.split(" ")[-1].lower())
Fname

['Pradeep Biradar',
 'jeetu churasiya',
 'Vinod jante',
 'Aman Mashetty',
 'Ram Naresh',
 'Om swamy',
 'sachin tichkule']

# Dhamaal movie comedy ðŸ˜‚

In [38]:
Fname = ['Venu Gopal Aiyyar','Muttu swamy','Rajshekhera','yekka permpiraa','Chinna Swamy','Venu Gopal Aiyyar']
Lname = ['Chinna Swamy','Venu Gopal Aiyyar','Muttu swamy','perambadur','Muttu swamy','shivavenkata']

In [39]:
list(zip(Fname,Lname))

[('Venu Gopal Aiyyar', 'Chinna Swamy'),
 ('Muttu swamy', 'Venu Gopal Aiyyar'),
 ('Rajshekhera', 'Muttu swamy'),
 ('yekka permpiraa', 'perambadur'),
 ('Chinna Swamy', 'Muttu swamy'),
 ('Venu Gopal Aiyyar', 'shivavenkata')]

In [60]:
list(zip(Fname,Scifi_authors))

[('Pradeep Biradar', 'Vinod jante'),
 ('jeetu churasiya', 'Aman Mashetty'),
 ('Vinod jante', 'Ram Naresh'),
 ('Aman Mashetty', 'Om swamy')]

In [40]:
my_dict = {}
for namef,namel in zip(Fname,Lname):
    my_dict[namef]= namel
    print(my_dict)

{'Venu Gopal Aiyyar': 'Chinna Swamy'}
{'Venu Gopal Aiyyar': 'Chinna Swamy', 'Muttu swamy': 'Venu Gopal Aiyyar'}
{'Venu Gopal Aiyyar': 'Chinna Swamy', 'Muttu swamy': 'Venu Gopal Aiyyar', 'Rajshekhera': 'Muttu swamy'}
{'Venu Gopal Aiyyar': 'Chinna Swamy', 'Muttu swamy': 'Venu Gopal Aiyyar', 'Rajshekhera': 'Muttu swamy', 'yekka permpiraa': 'perambadur'}
{'Venu Gopal Aiyyar': 'Chinna Swamy', 'Muttu swamy': 'Venu Gopal Aiyyar', 'Rajshekhera': 'Muttu swamy', 'yekka permpiraa': 'perambadur', 'Chinna Swamy': 'Muttu swamy'}
{'Venu Gopal Aiyyar': 'shivavenkata', 'Muttu swamy': 'Venu Gopal Aiyyar', 'Rajshekhera': 'Muttu swamy', 'yekka permpiraa': 'perambadur', 'Chinna Swamy': 'Muttu swamy'}

In [61]:
items = [("prod1",10),("prod2",20),("prod3",30)]
items

[('prod1', 10), ('prod2', 20), ('prod3', 30)]

In [62]:
price = []
for item in items:
    price.append(item[1])
print(price)

[10, 20, 30]

In [63]:
x=list(map(lambda x:x[1], items))
print(x)

[10, 20, 30]

In [64]:
y=list(map(lambda x:x[0], items))
print(y)

['prod1', 'prod2', 'prod3']

In [65]:
def mx(x,y):
    if x> y:
     return x
    else:
        return y
print(mx(7,5))

7

In [50]:
# Lambda function 
H_num = lambda x,z:x if x > z else z
print(H_num(8,10))

10

In [66]:
xx=lambda x,y:x if x>y else y
print(xx(8,7))

8

In [51]:
class portfolio:
    def __init__(self):
        self.holdings = {}
        
    def buy(self,ticker,shares):
        self.holdings[ticker]=self.holdings.get(ticker,0)+shares
        
    def sell(self,ticker,shares):
        self.holdings[ticker]=self.holdings.get(ticker,0)-shares
        
    def __iter__(self):
        return iter(self.holdings.items())
    
p=portfolio()
p.buy('Alpha',15)
p.buy('beta',25)
p.buy('gamma',35)
p.buy('delta',40)

for (ticker,shares) in p:
    print(ticker,shares)

Alpha 15
beta 25
gamma 35
delta 40

In [52]:
p.sell('Alpha',10)
for(ticker,shares)in p:
    print(ticker,shares)

Alpha 5
beta 25
gamma 35
delta 40

# Cards and combo

In [11]:
import itertools

ranks =  list(range(2,11))+['J','K','Q','A']
ranks = [str(rank) for rank in ranks]

In [12]:
print(ranks)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'K', 'Q', 'A']

In [13]:
suits = ['hearts','shades','daimonds','spades']
deck = [card for card in itertools.product(ranks,suits)]

hands = [hand for hand in itertools.combinations(deck,3)]
hands2 = [hands for hand in itertools.combinations(deck,2)]
hands4 = [hands for hand in itertools.combinations(deck,4)]

print(f"the number of 3-card poker hands is {len(hands)}.")
print(f"the number of 2-card poker hand is {len(hands2)}.")
print(f"the number of 4-card poker hand is {len(hands4)}.")

the number of 3-card poker hands is 22100.
the number of 2-card poker hand is 1326.
the number of 4-card poker hand is 270725.

In [14]:
# recursive function
def factorial(x):
    #this is recursive function
    #to find the factorial of integers
    
    if x==1:
        return 1
    else:
        return(x*factorial(x-1))

num = 7
print("the factorial of", num, "is",factorial(num))

the factorial of 7 is 5040

# Fibonacci number

In [74]:
def fibonacci (n):
    if n==1:
      return 1
    elif n==2:
     return 1
    elif n > 2:
     return fibonacci (n-1) + fibonacci(n-2)
    
for n in range(1,15):
    print(n, ":",fibonacci(n))

1 : 1
2 : 1
3 : 2
4 : 3
5 : 5
6 : 8
7 : 13
8 : 21
9 : 34
10 : 55
11 : 89
12 : 144
13 : 233
14 : 377

In [53]:
# New way af fibonacci
def fib(n):

    a=0
    b=1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
        
        for i in range (1,n):
            c = a + b
            a=b
            b=c
            print(c)
fib(11)

0
1
1
2
3
5
8
13
21
34
55
89

In [54]:
def fibonacci(n):  
    if n==1:
     return 1
    elif n==2:
     return 1
    elif n > 2:
     return fibonacci(n-1)+fibonacci(n-2)
    
for n in range(1,11):
    print(n, ":",fibonacci(n))

1 : 1
2 : 1
3 : 2
4 : 3
5 : 5
6 : 8
7 : 13
8 : 21
9 : 34
10 : 55

## we insted use the memorization to run the fibonacci sequennce more fastly

In [ ]:
fibonacci_cache = {}
def fibonacci(n):
    #if we have cached the value, then return it
    if n in fibonacci_cache:
        return fibonacci_cache[n]
    #compute the Nth term
    if n==1:
        value =1
    elif n==2:
        value=1
    elif n > 2:
        value = fibonacci(n-1)+fibonacci(n-2)
        
    #Cache the value return it
    fibonacci_cache[n] = value
    return value

In [ ]:
for n in range(1,101):
    print(n, ":",fibonacci(n))

# #even more simplify the with function lru_cache
### LRU = Least Recently Used Cache

need to run the lru cache befor the function need to right 
@lru_cache(maxsize=1000)

In [ ]:
from functools import lru_cache
@lru_cache(maxsize=1000)
def fibonacci(n):
    if n==1:
        return 1
    elif n==2:
        return 1
    elif n > 2:
        return fibonacci(n-1)+fibonacci(n-2)

for n in range(1,500):
    print(n, ":", fibonacci(n))

what if we type 2.1 as n value / string / negtive value need to fix it

In [ ]:
@lru_cache(maxsize=1000)
def fibonacci(n):
    #check the value is positive integer
    if type(n) != int:
      raise TypeError("n must be a positive int")
    if n < 1:
      raise ValueError("n must be positive int")
        
    #compute the Nth Term
    if n==1:
      return 1
    elif n==2:
      return 1
    elif n > 2:
      return fibonacci(n-1)+fibonacci(n-2)
    print(fibonacci(2.3))

 # Random Walk 
 # Interview Questions

In [55]:
import random

def random_walk(n):
 #return coardinates after 'n' block random walk""
 x = 0
 y = 0
 for i in range(n):
   step = random.choice(['N','S','E','W'])
   if step == 'N':
      y = y + 1
   elif step == 'S':
      y= y - 1
   elif step == 'E':
      x=x+1
   else:
     x= x-1
 return(x,y)

In [56]:
for i in range(15):
  walk = random_walk(10)
  print(walk, "distance from home = ",
        abs(walk[0]) + abs(walk[1]))

(-3, -1) distance from home =  4
(-4, -2) distance from home =  6
(-1, 3) distance from home =  4
(0, 2) distance from home =  2
(-1, 1) distance from home =  2
(-1, 1) distance from home =  2
(-3, 3) distance from home =  6
(-3, -5) distance from home =  8
(1, 5) distance from home =  6
(0, 2) distance from home =  2
(1, 3) distance from home =  4
(3, -1) distance from home =  4
(-2, -2) distance from home =  4
(-2, 0) distance from home =  2
(-3, -3) distance from home =  6

In [ ]:
# simplified way
import random

def random_walk2(n):
    x,y = 0,0
    for i in range(n):
        (dx,dy) = random.choice([(0,1),(0,-1),(1,0),(-1,0)])
        x += dx
        y += dy
    return (x,y)
number_of_walk = 100
for walk_length in range(1,31):
 no_transport = 0 # number of walks 4 or fewer blocks from home
 for i in range(number_of_walk):
        (x, y) = random_walk2(walk_length)
        distance = abs(x) + abs(y)
        if distance <= 4:
            no_transport += 1
        no_transport_percentage = float(no_transport) / number_of_walk
        print("walk size = ", walk_length,
              " / % of no transport = ", 100*no_transport_percentage)

In [ ]:
# list find out the total expenses
exp = [100,1100,2500,3036,456]
total = 0
for item in exp:
    total = list(exp + total)
    print(total)

In [ ]:
exp = [100,1100,2500,3036,456]

In [ ]:
exp = [100,1100,2500,3036,456]
for i in range(len(exp)):
    print('Month :' (i+1),'expenses:',exp[i])

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("D:/Machine/titanic_data.csv")
df.head()

In [ ]:
#convert the categoerical variable into factor  
df['sex_num'] = df.Sex.map({'female': 0,'male':1})
df.loc[0:4, ['Sex','sex_num']]

In [ ]:
df['name_len'] = df.Name.apply(len)
df.loc[0:4,['Name','name_len']]

# Fare round up with the help of celing in numpy library

In [ ]:
df['fare_ceil'] = df.Fare.apply(np.ceil)
df.loc[0:4,['Fare','fare_ceil']]

In [ ]:
df.Name.str.split(",").head()

In [ ]:
# Create a function
def get_element(my_list,position):
    return my_list[position]

In [ ]:
df.Name.str.split(",").apply(get_element,position = 0).head()

In [ ]:
# lambda function
df.Name.str.split(",").apply(lambda x:x[1]).head()

In [ ]:
df.dtypes

In [ ]:
# to get max value in the column / row axis = 0/1
df.loc[:,"SibSp":"Parch"].apply(max,axis=0)

In [ ]:
alist = [4,8,12,16]
alist[1:4] = [20,24,28]
print(alist)

In [ ]:
alist.append(299)
print(alist)

In [ ]:
# to remove perticular array .pop(index num) or .remove(index num)
alist.pop(4)
alist

# **Hotel Resturent Bill**

In [3]:
print ("Welcome to My Dhaaba")
sum = 0
dict = {"Paneer" : 200, "Lassi":80, "Tandoori" : 10, "Naan" : 25, "rice" : 100}
lst = list(dict.keys())

while True:
    print("Paneer (200 rs)" )
    print("Lassi (80 rs)" )
    print("Tandoori (10 rs)" )
    print("Naan (25 rs)" )
    print("rice (200 rs)" )
    print ("Press e for Exit")
    order = input("Enter your order")
    if order in lst:
        sum = sum+dict[order]
    elif order =='e':
        break
    else:
        print("Enter right item")
        
print("your total bill is=",sum)

Welcome to My Dhaaba
Paneer (200 rs)
Lassi (80 rs)
Tandoori (10 rs)
Naan (25 rs)
rice (200 rs)
Press e for Exit
Enter your orderLassi
Paneer (200 rs)
Lassi (80 rs)
Tandoori (10 rs)
Naan (25 rs)
rice (200 rs)
Press e for Exit
Enter your ordere
your total bill is= 80

# ***Income Tax Calculation***

In [4]:
income = int(input("Enter amount:",))
tax=0
cess=0

if income <= 250000:
    tax = 0
elif income <=500000:
    tax=(income - 250000)*0.1
elif income <=1000000:
    tax=12500(income-500000)*0.2
else:
    tax = 12500+100000(income - 1000000) *0.3
cess = tax*0.04
tax_total= tax + cess
print ("income tax = ",tax)
print ("Health & Cess = ",cess)
print ("Total Tax is : ",tax_total)

Enter amount:300000
income tax =  5000.0
Health & Cess =  200.0
Total Tax is :  5200.0

In [5]:
meal = int(input("How much is meal cost:",))
total_cost = meal + (meal * .06) + (meal *  .10)
print ("Your total meal tax is :$% .2f" % total_cost)

How much is meal cost:500
Your total meal tax is :$ 580.00

In [ ]:
# Function for outlier
def number_of_outlier(df):
    df.select_dtypes(exclude='object')
    
    q1=df.quantile(0.25)
    q3=df.quantile(0.75)
    IQR =  q3 - q1
    
    return(df < (q1-1.5*IQR))|(df>(q3+1.5*IQR))).sum()

In [ ]:
def lower_upper_range(datacolumn):
    sorted(datacolumn)
    Q1,Q3 = np.percentile(datacolumn)
    IQR = Q3 - Q1
    lower_range = Q1 -(1.5*IQR)
    upper_range = Q3 +(1.5*IQR)
    return lower_range,upper_range

for col in columns:
    lowerbound,upperbound = lower_upper_range(df[col])
    df[col]=np.clip(df[col],a_min=lowerbound,a_max=upperbound)

In [7]:
df['carname'] = df['carname'].str.split().str[0]
print(df['carname'].unique())

NameError: name 'df' is not defined

In [6]:
df.loc[df['CarName'] == 'maxda','CarName'] = 'mazda'
df.loc[df['CarName'] == 'Nissan','CarName'] = 'nissan'
df.loc[df['CarName'] == 'toyouta','CarName'] = 'toyata'

NameError: name 'df' is not defined

In [ ]:
df.loc[df.duplicated()]

In [ ]:
df.drop_duplicates()

In [60]:
# Dictionary value can be iterated over
car = {"wheels" : 4, "color":"red"}

for key in car:
    #for val in car:
    print(car)
    #print (key + ": " +car[key])

{'wheels': 4, 'color': 'red'}
{'wheels': 4, 'color': 'red'}

In [7]:
a=[1,2,3,4,5]
b=0
for x in a:
    b += b if b % 2 else x
    b =  not b
print(b)

15

In [ ]:
# converting the colummn value of pllayer and team into lower case
columns = df.select_dtypes(include = 'object')
columns = list(columns,columns)
for i in columns:
    df[i]=df[i].str.lower()
df

In [12]:
names = ["mariya","BATMAN","spongebob"]
new_names = []

for n in names:
    if n.islower():
        n = n.capitalize()
    else:
        n = 'Aman' + n.capitalize()
    new_names.append(n)
names = new_names
print(names)

['Mariya', 'AmanBatman', 'Spongebob']

In [15]:
#list comprehension
names = ["mahadev","MASHETTY",'dhannur']
[
n.capitalize() if n.islower()
else "Aman " + n.capitalize()
for n in names
]

['Mahadev', 'Aman Mashetty', 'Dhannur']

In [19]:
my_string = "hi442nm233ag2"
new_string = "".join(
["d" if i=="4"
else "e" if i=="2"
else "s" if i=="3"
else i 
for i in my_string]
)

print(new_string)

hiddenmessage

In [35]:
fnames = ["Vinod","mahadev","bhadru"]
new_n = []

for name in fnames:
    name = name.upper()
    new_n.append(fnames)
print(new_n)

[['Vinod', 'mahadev', 'bhadru'], ['Vinod', 'mahadev', 'bhadru'], ['Vinod', 'mahadev', 'bhadru']]

In [28]:
fruits = ['apples','baNana','StrAberries']
new_fruits=[]

for fruit in fruits:
    fruit = fruit.upper()
    new_fruits.append(fruit)

fruits = new_fruits
print(fruits)

['APPLES', 'BANANA', 'STRABERRIES']

In [37]:
namess = [name.upper() for name in fnames]
print(namess)

['VINOD', 'MAHADEV', 'BHADRU']

In [50]:
#conditional

bitss = ["False","True","False","False","True","False","False","True"]
new_bitss = []

for b in bitss:
    if b==True:
        new_bitss.append(1)
    else:
        new_bitss.append(2)
print(new_bitss)

[2, 2, 2, 2, 2, 2, 2, 2]

In [51]:
sb = [1 if b == True else 0 for b in bitss]
print(sb)

[0, 0, 0, 0, 0, 0, 0, 0]

In [66]:
my_string = "HelloMyNameIsAman"
my_string ="".join(
    [i if i.islower() else " "+ i.lower() if i in ["N","I"] else " "+ i for i in my_string]
)[1:]
print(my_string)

Hello My name is Aman

In [ ]:
# we cannot use elseif in lC