<a href="https://colab.research.google.com/github/MashettyAman/My_Python_Codes/blob/main/List_Comprehension_Updated%2025-07-2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List comprehensions 
'with the help of comprehensions we can write single line of code for list

In [ ]:
square=[]
for i in range (1,21):
 square.append(i**2)
print(square)

In [ ]:
#List comprihansion

squ2=[i**2 for i in range(1,21)]
print(squ2)

In [ ]:
movies = ["Don","Rocky","RHTDM","Rathstaan","sherlock"]
movies

In [ ]:
rmovie=[]
for title in movies:
    if title.endswith('n'):
        rmovie.append(title)
print(rmovie)

In [ ]:
Rmovies=[]
for title in movies:
    if title.startswith("R"):
        Rmovies.append(title)
print(Rmovies)

In [ ]:
rrm = [title for title in movies if title.endswith('n')]
rrm

In [ ]:
Etty_Names = ["Mashetty","Kamshetty","Narshetty","Karabshetti","shenkshetti"]
Etty_Names

In [ ]:
ettyN=[]
for title in Etty_Names: 
    if title.endswith("etty"):
        ettyN.append(title)
print(ettyN)

In [ ]:
tt = [title for title in Etty_Names if title.startswith("she") or title.endswith("etty")]
print(tt)

In [ ]:
tt = []
for title in Etty_Names:
        #if title.endswith("etty") or title.startswith("she"):
        if title.endswith(("etty","tti")):  
            tt.append(title)
print(tt)

# Scalar Multiplication

In [ ]:
V = [1,2,4,-16]

In [ ]:
4*V

'python do not understand if directly mulitply like above example it simply concatinate it
'even if below example same thing happen

In [ ]:
[1,2,3]+[7,8]

In [ ]:
w=[]
for x in V:
    w.append(x*4)
print(w)

In [ ]:
w=[4*x for x in V]
print(w)

# Cartesian Product
if a and b are two sets,
then Cartesian produt,
is sets of pairs (a,b)
where 'a' is A and 'b' is B .

ex: AxB = {(a,b) | a is A and b is B}

In [ ]:
A = [1,3,5,7]
B = [2,4,6,8]
cp = [(a,b) for a in A for b in B]
print(cp)

In [ ]:
movies = [("Don",1991),("Rocky",2000),("RHTDM",2004),("Rathstaan",2007),("sherlock",2010)]
movies

In [ ]:
Rmovies = [title for (title,year) in movies 
           if title.startswith("R") and year >= 2000]
print(Rmovies)

In [ ]:
Rmm = []
for title, year in movies:
    if title.startswith("Ro") and year >=2000:     
        Rmm.append(title)
print(Rmm)

#### in the above example rocky movie meets only 1 criteria that is "RO" if we write year>=2000 then it will print Rocky otherwise empty will come

In [ ]:
AlphaN=["398","2626","Aman","Mashetty"]
dd= [int(s) for s in AlphaN if s.isdigit()]
print(dd)

In [ ]:
AlphaN=["398","2626","Aman","Mashetty"]
ddd=[]
for s in AlphaN:
    if s.isdigit():
        ddd.append(int(s))
print(ddd)

# Let add a mobile color and models

In [ ]:
color = ["Red","Blue","Orange","Green"]
model = ["12","12pro","12proMax"]

In [ ]:
cm = []
for colors in color:
    for models in model:
         cm.append((colors,models))
print(cm)

In [ ]:
cm = [(colors,models) for colors in color for models in model]
print(cm)

In [ ]:
print(color)

In [ ]:
# concatinate is so simple with this trick
color + model

In [ ]:
# want to change the color or add a color in list below is the trick
if 'Blue' in color:
    print("purple") #insted

In [ ]:
color = ['Blue',
 'Green',
 'Orange',
 'Red',
 'yellow']
color

In [ ]:
# to Remove an color in the list
color.remove("yellow")
color

In [ ]:
#To add a value(color) in list just append
# but below code is not meet the criteria
color.append(["Grey","Purple","pink"])
color

In [ ]:
#To add a value(color) in list just append
#problem with append it only takes one value at a time
color + ["grey","black","Pink"]

In [ ]:
color = color
print(color)

In [ ]:
for items in color:
    print(items)

In [ ]:
#to copy of a list 
colorsss = color.copy()
colorsss

# itertools.combinations: A Better Way to
# Iterate Through a Pair of Values in a Python
# List

## If you want to iterate through a pair of values in a list and the
## order does not matter ((a,b) is the same as (b, a)), a naive
## approach is to use two for-loops.

In [ ]:
num_list=[1,2,3]

for i in num_list:
    for j in num_list:
        if i < j:
            print((i,j))
            #print((j,i))

## itertools.product: Nested For-Loops in a
## Generator Expression

itertools.product is more efficient than nested loop because
product(A, B) returns the same as ((x,y) for x in A for y
in B).

In [ ]:
from itertools import product
params = {
"learning_rate": [1e-1, 1e-2, 1e-3],
"batch_size": [16, 32, 64],
}

In [ ]:
for vals in product(*params.values()):
combination = dict(zip(params.keys(), vals))
print(combination)

# want to sort with last name

In [ ]:
Scifi_authors = ["Aman Mashetty","Vinod jante","Ram Naresh","Om swamy"]

In [ ]:
Scifi_authors.sort(key = lambda name:name.split(" ")[1].upper())
Scifi_authors

In [ ]:
Scifi_authors = ["aman mashetty","vinod jante","ram naresh","om swamy"]
Scifi_authors.sort(key = lambda x:x.split(" ")[0].upper())

In [ ]:
Scifi_authors

In [ ]:
Fl_names=["Pradeep Biradar","jeetu churasiya", "sachin tichkule"]
Fl_names

In [ ]:
Fl_names.sort(key=lambda name:name.split (" ")[-1].lower())
Fl_names

In [ ]:
Fname =  Fl_names + Scifi_authors
Fname

In [ ]:
Fname.sort(key=lambda name:name.split(" ")[-1].lower())
Fname

# Dhamaal movie comedy ðŸ˜‚

In [ ]:
Fname = ['Venu Gopal Aiyyar','Muttu swamy','Rajshekhera','yekka permpiraa','Chinna Swamy','Venu Gopal Aiyyar']
Lname = ['Chinna Swamy','Venu Gopal Aiyyar','Muttu swamy','perambadur','Muttu swamy','shivavenkata']

In [ ]:
list(zip(Fname,Lname))

In [ ]:
list(zip(Fname,Scifi_authors))

In [ ]:
my_dict = {}
for namef,namel in zip(Fname,Lname):
    my_dict[namef]= namel
    print(my_dict)

In [ ]:
items = [("prod1",10),("prod2",20),("prod3",30)]
items

In [ ]:
price = []
for item in items:
    price.append(item[1])
print(price)

In [ ]:
x=list(map(lambda price:price[1], items))
print(x)

In [ ]:
#saame thing with List comprehension
xx = [item[1] for item in items]
xx

In [ ]:
y=list(map(lambda x:x[0], items))
print(y)

In [ ]:
#List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
List = [[2,3,5],[2,5]]
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)

# get second largest number
secondLargest = lambda x,j :[y[len(y)-2] for y in j(x)]
res =  secondLargest(List, sortList)
res

In [ ]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)


# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

In [ ]:
tables = [lambda x=x: x*10 for x in range(1, 11)]

for table in tables:
    print(table())

In [ ]:
Max = lambda a, b : a if a > b else b
 
print(Max(1, 2))

In [ ]:
# Python code to illustrate
# filter() with lambda()
xlist = [5, 6, 7 , 8, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(filter(lambda x: (x%2 != 0) , xlist))
print(final_list)

In [ ]:
#Filter out only even number
xlist = [1,2,3,7,8,9,1,10,11,15]
final_l = list(filter(lambda x:(x%2==0) ,  xlist))
final_l

In [ ]:
age = [12,15,18,19,22,26,28]
above_18 = list(filter(lambda age: age>18 , age))
above_18

In [ ]:
# With the help of list comprihension
ages = [12,15,18,19,22,26,28]
xx = [i for i in ages if i >= 15]
xx

In [ ]:
# Python code to illustrate
# map() with lambda()
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(map(lambda x: x*2, li))
print(final_list)

In [ ]:
# Python code to illustrate
# map() with lambda()
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

doubleX= list(map(lambda x : x*x, li))
doubleX

In [ ]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
xlx = [x*2 for x in li]
xlx

In [ ]:
# Python program to demonstrate
# use of lambda() function
# with map() function
animals = ['dog', 'cat', 'parrot', 'rabbit']

# here we intend to change all animal names
# to upper case and return the same
#uppered_animals = list(map(lambda animal: str.capitalize(animal), animals))
La_Capital = list(map(lambda name : str.capitalize(name),animals))
#print(uppered_animals)
print(La_Capital)

In [ ]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
lcx = [name.capitalize() for name in animals]
lcx

#namess = [name.upper() for name in fnames]
#print(namess)

In [ ]:
def mx(x,y):
    if x> y:
     return x
    else:
        return y
print(mx(7,5))

In [ ]:
# Lambda function 
H_num = lambda x,z:x if x > z else z
print(H_num(8,10))

In [ ]:
xx=lambda x,y:x if x>y else y
print(xx(8,7))

In [ ]:
class portfolio:
    def __init__(self):
        self.holdings = {}
        
    def buy(self,ticker,shares):
        self.holdings[ticker]=self.holdings.get(ticker,0)+shares
        
    def sell(self,ticker,shares):
        self.holdings[ticker]=self.holdings.get(ticker,0)-shares
        
    def __iter__(self):
        return iter(self.holdings.items())
    
p=portfolio()
p.buy('Alpha',15)
p.buy('beta',25)
p.buy('gamma',35)
p.buy('delta',40)

for (ticker,shares) in p:
    print(ticker,shares)

In [ ]:
p.sell('Alpha',10)
for(ticker,shares)in p:
    print(ticker,shares)

# Cards and combo

In [ ]:
import itertools

ranks =  list(range(2,11))+['J','K','Q','A']
ranks = [str(rank) for rank in ranks]

In [ ]:
print(ranks)

In [ ]:
suits = ['hearts','shades','daimonds','spades']
deck = [card for card in itertools.product(ranks,suits)]

hands = [hand for hand in itertools.combinations(deck,3)]
hands2 = [hands for hand in itertools.combinations(deck,2)]
hands4 = [hands for hand in itertools.combinations(deck,4)]

print(f"the number of 3-card poker hands is {len(hands)}.")
print(f"the number of 2-card poker hand is {len(hands2)}.")
print(f"the number of 4-card poker hand is {len(hands4)}.")

In [ ]:
# recursive function
def factorial(x):
    #this is recursive function
    #to find the factorial of integers
    
    if x==1:
        return 1
    else:
        return(x*factorial(x-1))

num = 7
print("the factorial of", num, "is",factorial(num))

# Fibonacci number

In [ ]:
def fibonacci (n):
    if n==1:
      return 1
    elif n==2:
     return 1
    elif n > 2:
     return fibonacci (n-1) + fibonacci(n-2)
    
for n in range(1,15):
    print(n, ":",fibonacci(n))

In [ ]:
# New way af fibonacci
def fib(n):

    a=0
    b=1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
        
        for i in range (1,n):
            c = a + b
            a=b
            b=c
            print(c)
fib(11)

In [ ]:
def fibonacci(n):  
    if n==1:
     return 1
    elif n==2:
     return 1
    elif n > 2:
     return fibonacci(n-1)+fibonacci(n-2)
    
for n in range(1,11):
    print(n, ":",fibonacci(n))

## we insted use the memorization to run the fibonacci sequennce more fastly

In [ ]:
fibonacci_cache = {}
def fibonacci(n):
    #if we have cached the value, then return it
    if n in fibonacci_cache:
        return fibonacci_cache[n]
    #compute the Nth term
    if n==1:
        value =1
    elif n==2:
        value=1
    elif n > 2:
        value = fibonacci(n-1)+fibonacci(n-2)
        
    #Cache the value return it
    fibonacci_cache[n] = value
    return value

In [ ]:
for n in range(1,101):
    print(n, ":",fibonacci(n))

# #even more simplify the with function lru_cache
### LRU = Least Recently Used Cache

need to run the lru cache befor the function need to right 
@lru_cache(maxsize=1000)

In [ ]:
from functools import lru_cache
@lru_cache(maxsize=1000)
def fibonacci(n):
    if n==1:
        return 1
    elif n==2:
        return 1
    elif n > 2:
        return fibonacci(n-1)+fibonacci(n-2)

for n in range(1,500):
    print(n, ":", fibonacci(n))

what if we type 2.1 as n value / string / negtive value need to fix it

In [ ]:
@lru_cache(maxsize=1000)
def fibonacci(n):
    #check the value is positive integer
    if type(n) != int:
      raise TypeError("n must be a positive int")
    if n < 1:
      raise ValueError("n must be positive int")
        
    #compute the Nth Term
    if n==1:
      return 1
    elif n==2:
      return 1
    elif n > 2:
      return fibonacci(n-1)+fibonacci(n-2)
    print(fibonacci(2.3))

 # Random Walk 
 # Interview Questions

In [ ]:
import random

def random_walk(n):
 #return coardinates after 'n' block random walk""
 x = 0
 y = 0
 for i in range(n):
   step = random.choice(['N','S','E','W'])
   if step == 'N':
      y = y + 1
   elif step == 'S':
      y= y - 1
   elif step == 'E':
      x=x+1
   else:
     x= x-1
 return(x,y)

In [ ]:
for i in range(15):
  walk = random_walk(10)
  print(walk, "distance from home = ",
        abs(walk[0]) + abs(walk[1]))

In [ ]:
# simplified way
import random

def random_walk2(n):
    x,y = 0,0
    for i in range(n):
        (dx,dy) = random.choice([(0,1),(0,-1),(1,0),(-1,0)])
        x += dx
        y += dy
    return (x,y)
number_of_walk = 100
for walk_length in range(1,31):
 no_transport = 0 # number of walks 4 or fewer blocks from home
 for i in range(number_of_walk):
        (x, y) = random_walk2(walk_length)
        distance = abs(x) + abs(y)
        if distance <= 4:
            no_transport += 1
        no_transport_percentage = float(no_transport) / number_of_walk
        print("walk size = ", walk_length,
              " / % of no transport = ", 100*no_transport_percentage)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("D:/Machine/titanic_data.csv")
df.head()

In [ ]:
#convert the categoerical variable into factor  
df['sex_num'] = df.Sex.map({'female': 0,'male':1})
df.loc[0:4, ['Sex','sex_num']]

In [ ]:
df['name_len'] = df.Name.apply(len)
df.loc[0:4,['Name','name_len']]

# Fare round up with the help of celing in numpy library

In [ ]:
df['fare_ceil'] = df.Fare.apply(np.ceil)
df.loc[0:4,['Fare','fare_ceil']]

In [ ]:
df.Name.str.split(",").head()

In [ ]:
# Create a function
def get_element(my_list,position):
    return my_list[position]

In [ ]:
df.Name.str.split(",").apply(get_element,position = 0).head()

In [ ]:
# lambda function
df.Name.str.split(",").apply(lambda x:x[0]).head()

In [ ]:
df.dtypes

In [ ]:
# to get max value in the column / row axis = 0/1
df.loc[:,"SibSp":"Parch"].apply(max,axis=0)

In [ ]:
alist = [4,8,12,16]
alist[1:4] = [20,24,28]
print(alist)

In [ ]:
alist.append(299)
print(alist)

In [ ]:
# to remove perticular array .pop(index num) or .remove(index num)
alist.pop(4)
alist

# **Hotel Resturent Bill**

In [ ]:
print ("Welcome to My Dhaaba")
sum = 0
dict = {"Paneer" : 200, "Lassi":80, "Tandoori" : 10, "Naan" : 25, "rice" : 100}
lst = list(dict.keys())

while True:
    print("Paneer (200 rs)" )
    print("Lassi (80 rs)" )
    print("Tandoori (10 rs)" )
    print("Naan (25 rs)" )
    print("rice (200 rs)" )
    print ("Press e for Exit")
    order = input("Enter your order")
    if order in lst:
        sum = sum+dict[order]
    elif order =='e':
        break
    else:
        print("Enter right item")
        
print("your total bill is=",sum)

# ***Income Tax Calculation***

In [ ]:
income = int(input("Enter amount:",))
tax=0
cess=0

if income <= 250000:
    tax = 0
elif income <=500000:
    tax=(income - 250000)*0.1
elif income <=100000:
    tax=12500+(income-500000)*0.2
else:
    tax = 12500+100000+(income - 100000) *0.3
cess = tax*0.04
tax_total= tax + cess
print ("income tax = ",tax)
print ("Health & Cess = ",cess)
print ("Total Tax is : ",tax_total)

Enter amount:550000
income tax =  247500.0
Health & Cess =  9900.0
Total Tax is :  257400.0

In [ ]:
meal = int(input("How much is meal cost:",))
total_cost = meal + (meal * .06) + (meal *  .10)
print ("Your total meal cost including tax is :$%  .2f" % total_cost)

How much is meal cost:1000
Your total meal cost including tax is :$ 1160.00

In [ ]:
# Function for outlier
def number_of_outlier(df):
    df.select_dtypes(exclude='object')
    
    q1=df.quantile(0.25)
    q3=df.quantile(0.75)
    IQR =  q3 - q1
    
    return(df < (q1-1.5*IQR))|(df>(q3+1.5*IQR))).sum()

In [ ]:
def lower_upper_range(datacolumn):
    sorted(datacolumn)
    Q1,Q3 = np.percentile(datacolumn)
    IQR = Q3 - Q1
    lower_range = Q1 -(1.5*IQR)
    upper_range = Q3 +(1.5*IQR)
    return lower_range,upper_range

for col in columns:
    lowerbound,upperbound = lower_upper_range(df[col])
    df[col]=np.clip(df[col],a_min=lowerbound,a_max=upperbound)

In [ ]:
df['carname'] = df['carname'].str.split().str[0]
print(df['carname'].unique())

In [ ]:
df.loc[df['CarName'] == 'maxda','CarName'] = 'mazda'
df.loc[df['CarName'] == 'Nissan','CarName'] = 'nissan'
df.loc[df['CarName'] == 'toyouta','CarName'] = 'toyata'

In [ ]:
df.loc[df.duplicated()]

In [ ]:
df.drop_duplicates()

In [ ]:
# Dictionary value can be iterated over
car = {"wheels" : 4, "color":"red"}

for key in car:
    #for val in car:
    print(car)
    #print (key + ": " +car[key])

In [ ]:
a=[1,2,3,4,5]
b=0
for x in a:
    b += b if b % 2 else x
    b =  not b
print(b)

In [ ]:
# converting the colummn value of pllayer and team into lower case
columns = df.select_dtypes(include = 'object')
columns = list(columns,columns)
for i in columns:
    df[i]=df[i].str.lower()
df

In [ ]:
names = ["mariya","BATMAN","spongebob"]
new_names = []

for n in names:
    if n.islower():
        n = n.capitalize()
    else:
        n = 'Aman' + n.capitalize()
    new_names.append(n)
names = new_names
print(names)

In [ ]:
#list comprehension
names = ["mahadev","MASHETTY",'dhannur']
[
n.capitalize() if n.islower()
else "Aman " + n.capitalize()
for n in names
]

In [ ]:
my_string = "hi442nm233ag2"
new_string = "".join(
["d" if i=="4"
else "e" if i=="2"
else "s" if i=="3"
else i 
for i in my_string]
)

print(new_string)

In [ ]:
fnames = ["Vinod","mahadev","bhadru"]
new_n = []

for name in fnames:
    name = name.upper()
    new_n.append(fnames)
print(new_n)

In [ ]:
fruits = ['apples','baNana','StrAberries']
new_fruits=[]

for fruit in fruits:
    fruit = fruit.upper()
    new_fruits.append(fruit)

fruits = new_fruits
print(fruits)

In [ ]:
namess = [name.upper() for name in fnames]
print(namess)

In [ ]:
#conditional

bitss = ["False","True","False","False","True","False","False","True"]
new_bitss = []

for b in bitss:
    if b==True:
        new_bitss.append(1)
    else:
        new_bitss.append(2)
print(new_bitss)

In [ ]:
sb = [1 if b == True else 0 for b in bitss]
print(sb)

In [ ]:
my_string = "HelloMyNameIsAman"
my_string ="".join(
    [i if i.islower() else " "+ i.lower() if i in ["N","I"] else " "+ i for i in my_string]
)[1:]
print(my_string)

In [ ]:
# we cannot use elseif in lC

In [ ]:
import os
import pandas as pd

In [ ]:
# converting the xlsx file into csv
# csv consist only one sheet not more than that
path = "F:\\python_Csv"
files = os.listdir(path)
print(files)

for eachfile in files:
    if eachfile.endswith(".xlsx"):
        xlfile = pd.ExcelFile(eachfile)
        sheet = xlfile.sheet_names
        print(sheet)

In [ ]:
with open('South_Region.xlsx','r') as file:
    employee = .reader(file)

print(employee)

In [ ]:
#import glob
import pandas as pd
import os
folder=r'F:\\python_Csv'
df_total = pd.DataFrame()
files=os.listdir(folder)
files
for file in files:                        
    if file.endswith('.xlsx'):
        excel_file = pd.ExcelFile(file)
        sheets = excel_file.sheet_names
        for sheet in sheets:               
            df = excel_file.parse(sheet_name = sheet)
            df_total = df_total.append(df)
df_total.to_csv('combined_file.csv',index=False)

In [ ]:
os.getcwd()

In [ ]:
os.chdir("F:\\python_Csv")

In [ ]:
import pandas as pd
import os
path = "F:\\python_Csv"
df_total = pd.DataFrame()
files = os.listdir(path)
for eachfile in files:
    if eachfile.endswith(".xlsx"):
        cleanfilename = eachfile.replace(".xlsx","")
        xlfile = pd.ExcelFile(eachfile)
        sheets = xlfile.sheet_names
        #print(sheets)
        for eachsheet in sheets:
            sheetdata = xlfile.parse(eachsheet)
            #sheetname = eachfile + "_" + eachsheet + ".csv"
            #print(sheetname)
            #sheetname = cleanfilename + "_" + eachsheet + ".csv"
            #print(sheetname)
            #sheetdata.to_csv(sheetname,index = False)
            df_total = df_total.append(sheetdata)
            df_total.to_csv('comb.csv')

In [ ]:
#import glob as glob
from glob import glob

In [ ]:
data_files = sorted(glob("F:/python_Csv/*.csv")) 
data_files

In [ ]:
m_data = pd.concat((pd.read_csv(file).assign(filename =file)
                   for file in data_files),ignore_index=True)
m_data

In [ ]:
mergedata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
                     for datafile in data_files)

In [ ]:
mergedata

In [ ]:
mergedata.to_csv('Masterfile.csv')

In [ ]:
import pandas as pd

df = pd.read_html("https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population")
df

for idx,table in enumerate(df):
    print("**************************")
    print(idx)
    print(table)

df[0]
#df.drop(df.index[[0]])
#df1 = pd.DataFrame(df)

#df1 = df.copy()
#df1[0]
df.to_csv("Population.csv",index="Rank")

In [ ]:
import pandas as pd

In [ ]:
df.to_csv("output.csv")

In [ ]:
#import calender
from calendar import*

In [ ]:
year = int(input("Enter year:"))
print(calendar(year,2,1,7,4))

Enter year:2022
                                                  2022

      January                     February                     March                       April
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                1  2            1  2  3  4  5  6            1  2  3  4  5  6                     1  2  3
 3  4  5  6  7  8  9         7  8  9 10 11 12 13         7  8  9 10 11 12 13         4  5  6  7  8  9 10
10 11 12 13 14 15 16        14 15 16 17 18 19 20        14 15 16 17 18 19 20        11 12 13 14 15 16 17
17 18 19 20 21 22 23        21 22 23 24 25 26 27        21 22 23 24 25 26 27        18 19 20 21 22 23 24
24 25 26 27 28 29 30        28                          28 29 30 31                 25 26 27 28 29 30
31

        May                         June                        July                       August
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                   1               1  2  3  4  5                     1  2  3         1  2  3  4  5  6  7
 2  3  4  5  6  7  8         6  7  8  9 10 11 12         4  5  6  7  8  9 10         8  9 10 11 12 13 14
 9 10 11 12 13 14 15        13 14 15 16 17 18 19        11 12 13 14 15 16 17        15 16 17 18 19 20 21
16 17 18 19 20 21 22        20 21 22 23 24 25 26        18 19 20 21 22 23 24        22 23 24 25 26 27 28
23 24 25 26 27 28 29        27 28 29 30                 25 26 27 28 29 30 31        29 30 31
30 31

     September                    October                     November                    December
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
          1  2  3  4                        1  2            1  2  3  4  5  6                  1  2  3  4
 5  6  7  8  9 10 11         3  4  5  6  7  8  9         7  8  9 10 11 12 13         5  6  7  8  9 10 11
12 13 14 15 16 17 18        10 11 12 13 14 15 16        14 15 16 17 18 19 20        12 13 14 15 16 17 18
19 20 21 22 23 24 25        17 18 19 20 21 22 23        21 22 23 24 25 26 27        19 20 21 22 23 24 25
26 27 28 29 30              24 25 26 27 28 29 30        28 29 30                    26 27 28 29 30 31
                            31

In [ ]:
#year = int(input("Enter year:"))
import calendar
#

In [ ]:
print(calendar.month(2022,8))
print(calendar.weekday(2022, 8, 14))

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

6

In [ ]:
#Get the day of a week from Datetime
from datetime import datetime

# get current datetime
dt = datetime.now()
print('Datetime is:', dt)

# get day of week as an integer
x = dt.weekday()
print('Day of a week is:', x)

Datetime is: 2022-07-22 12:31:25.059474
Day of a week is: 4

Use the isoweekday() method to get the day of the week as an integer, where Monday is 1 and Sunday is 7. i.e., To start from the weekday number from 1, we can use isoweekday() in place of weekday()

In [ ]:
from datetime import datetime

# get current datetime
dt = datetime.now()
print('Datetime is:', dt)
print('Weekday is:', dt.isoweekday())

Datetime is: 2022-07-22 12:33:24.182866
Weekday is: 5

Get the Weekday Name from date using Calendar Module

In [ ]:
import calendar
from datetime import date

# get today's date
d = date.today()
print('Date is:', d)

# get day name in english
x = calendar.day_name[d.weekday()]
print('Weekday name is:', x)

Date is: 2022-07-22
Weekday name is: Friday

In [ ]:
from datetime import datetime
import calendar

# get current datetime
dt = datetime.now()
print('Datetime is:', dt)

# weekday (Monday =0 Sunday=6)
print('Weekday Number:', dt.weekday())

# isoweekday(Monday =1 Sunday=6)
print('ISO Weekday Number:', dt.isoweekday())

# get weekday name
print('Weekday Name:', dt.strftime('%A'))

# get day name
x = calendar.day_name[dt.weekday()]
print('Weekday name is:', x)

Datetime is: 2022-07-22 12:38:40.636651
Weekday Number: 4
ISO Weekday Number: 5
Weekday Name: Friday
Weekday name is: Friday

In [ ]:
# Python3 code to demonstrate
# remove last character from list of strings
# using list comprehension + list slicing

# initializing list
test_list = ['Manjeets', 'Akashs', 'Akshats', 'Nikhils']

# printing original list
print("The original list : " + str(test_list))

# using list comprehension + list slicing
# remove last character from list of strings
res = [sub[ : -1] for sub in test_list]

# printing result
print("The list after removing last characters : " + str(res))

The original list : ['Manjeets', 'Akashs', 'Akshats', 'Nikhils']
The list after removing last characters : ['Manjeet', 'Akash', 'Akshat', 'Nikhil']

In [ ]:
data = "Dogecoin,"

dfa = data.rstrip(data[-1])

print(dfa)

Dogecoin

In [ ]:
# Python code to demonstrate
# method to remove i'th character
# using join() + list comprehension

# Initializing String
test_str = "Mashetty"

# Printing original string
print ("The original string is : " + test_str)

# Removing char at pos 3
# using join() + list comprehension
new_str = ''.join([test_str[i] for i in range(len(test_str)) if i != 5])

# Printing string after removal
# removes ele. at 3rd index
print ("The string after removal of i'th character : " + new_str)

The original string is : Mashetty
The string after removal of i'th character : Mashety

In [7]:
# Python3 code to demonstrate
# removal of bad_chars
# using join() + generator

# initializing bad_chars_list
bad_chars = [';', ':', '!', "*", " "]

# initializing test string
test_string = "Ge;ek * s:fo ! r;Ge * e*k:s99 !"

# printing original string
print ("Original String : " + test_string)

# using join() + generator to
# remove bad_chars
test_string = ''.join(i for i in test_string if not i in bad_chars)

# printing resultant string
print ("Resultant list is : " + str(test_string))

Original String : Ge;ek * s:fo ! r;Ge * e*k:s99 !
Resultant list is : GeeksforGeeks99

In [4]:
import re
df_s ="ABcd12345"
df_string = re.sub(r'[0-9]+',"",df_s)
print(df_string)

ABcd

# **How to extract / seperate the number & text in data frame**

In [8]:
import pandas as pd
d = {
 
 'question#': ['a1.2','a10','a10.1','b11.1a','k20.3d','b20c']
}
df = pd.DataFrame(d)

In [9]:
df[['firstcol', 'secondcol', 'thirdcol']] = df['question#'].str.extract('([A-Za-z]+)(\d+\.?\d*)([A-Za-z]*)', expand = True)
df

  question# firstcol secondcol thirdcol
0      a1.2        a       1.2
1       a10        a        10
2     a10.1        a      10.1
3    b11.1a        b      11.1        a
4    k20.3d        k      20.3        d
5      b20c        b        20        c

In [12]:
import pandas as pd 

df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
df

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

In [49]:
a = pd.DataFrame(['F_Name, L_name s.no',
                  "Aman, Mashetty  33",
                  "Vinod, Biradar  35"], columns=['row'])
a

                   row
0  F_Name, L_name s.no
1   Aman, Mashetty  33
2   Vinod, Biradar  35

In [50]:
df = pd.DataFrame(a.row.str.split(' ',2).tolist(),columns=['F_Name','L_Name','S.No'])
df

    F_Name    L_Name  S.No
0  F_Name,    L_name  s.no
1    Aman,  Mashetty    33
2   Vinod,   Biradar    35

In [51]:
df.drop(index = 0,inplace = True)
df

   F_Name    L_Name S.No
1   Aman,  Mashetty   33
2  Vinod,   Biradar   35

In [52]:
df = pd.DataFrame(['+1-555-555-5555','+1 (123) 456 7899', 'Here is my number 1-555-555-6666',123456789],columns=['Numbers and Text'])
df

                   Numbers and Text
0                   +1-555-555-5555
1                 +1 (123) 456 7899
2  Here is my number 1-555-555-6666
3                         123456789

In [53]:
df['Num_Only'] = df['Numbers and Text'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
df

                   Numbers and Text     Num_Only
0                   +1-555-555-5555  15555555555
1                 +1 (123) 456 7899  11234567899
2  Here is my number 1-555-555-6666  15555556666
3                         123456789    123456789

In [59]:
%ls

sample_data/

In [60]:
pwd

'/content'

In [61]:
%cd MashettyAman
/
My_Python_Codes

[Errno 2] No such file or directory: 'MashettyAman'
/content

NameError: ignored