<a href="https://colab.research.google.com/github/MashettyAman/My_Python_Codes/blob/main/US_car_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

US Car Data Analysis,EDA,Visualization

Cars'data was scraped from AUCTION EXPORT.com. This dataset included Information about 28 brands of clean and used vehicles for sale in US. Twelve features were assembled for each car in the dataset.

Initially, I have to say something about car. Most popular product is this so that what are they looking like? 
How fast can it does? It is significiant point at that issue.
Everybody wants to drive pretty car like 
McLaren P1 LM, Bugatti Divo, Rolls Royce Sweptail.
The car that you are driven demonstrates who you are or what you have in Turkey.
I hope all people drive what they want that car.

In [3]:
from google.colab import drive

In [8]:
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import numpy as np
import plotly.express as px
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [11]:
car_data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Codes/Machine/usedcars.csv")
car_data.head()
#It function gives us 5 line at the top in the data.

   year model  price  mileage   color transmission
0  2011   SEL  21992     7413  Yellow         AUTO
1  2011   SEL  20995    10926    Gray         AUTO
2  2011   SEL  19995     7351  Silver         AUTO
3  2011   SEL  17809    11613    Gray         AUTO
4  2012    SE  17500     8367   White         AUTO

In [12]:
car_data.describe().T
# why T means hear transpose or Table
# Some statistical explanation. Do you know Box Plot ? 
# It displays %25 is first quartile. 
# %50 is median and gives at the middle value when you ascending data.
# %75 is third quartile.
# min-max value is value that gives at lowest value and at highest value.

,count,mean,std,min,25%,50%,75%,max
year,150.0,2008.726667,2.200966,2000.0,2008.00,2009.0,2010.0,2012.0
price,150.0,12961.933333,3122.481735,3800.0,10995.00,13591.5,14904.5,21992.0
mileage,150.0,44260.646667,26982.104322,4867.0,27200.25,36385.0,55124.5,151479.0

Observations:
Minimum price of car is zero. this cannot be true. we need to replace these values with an appropriate value.
Maximum price of the car in this dataset is $84990.
Oldest model of car is from 1973.
First quartile value (25%) lies in the year 2016. This indicated that more than 75% of the cars are new models and are built after 2016.

In [15]:
list(car_data.columns)
#Columns that we have in data.

['year', 'model', 'price', 'mileage', 'color', 'transmission']

In [16]:
car_data.dtypes
#we can see what's the type of columns.

year             int64
model           object
price            int64
mileage          int64
color           object
transmission    object
dtype: object

In [17]:
#missing data
car_data.isnull().sum().sort_values(ascending=False)

year            0
model           0
price           0
mileage         0
color           0
transmission    0
dtype: int64

In [20]:
#Feature Engineering¶
#As we saw earlier that few of the cars have price as zero. This isn't practical.So, we need to replace these zero values with a resonably good value. In this case i will replace it with median of price column.

median_price = car_data['price'].median()
car_data['price'] = car_data['price'].astype(int)
car_data['price'].replace(0,median_price ,inplace=True)

median_price

13591.5

In [27]:
brand_of_car = car_data.groupby('color')['model'].count().reset_index().sort_values('model',ascending = False).head(10)
brand_of_car = brand_of_car.rename(columns = {'model':'count'})
fig = px.bar(brand_of_car, x='color', y='count', color='count')
fig.show()

#You can reach a lot of information about car brand and their count

In [ ]:
expensive_cars = car_data.sort_values('price',ascending = False).head(2)
fig = px.bar(expensive_cars, x='brand', y='price', color='price')
fig.show()
#We saw which car brand is expensive in this vis.

In [ ]:
sns.swarmplot(x="price", y="title_status" ,data=car_data);
plt.show()
#I want to display relationship between clean car and salvage insurance status with price.

In [ ]:
data = car_data[['price','year']]
f, ax = plt.subplots(figsize=(16, 8))
fig = sns.regplot(x='year', y="price", data=data)

In [ ]:
# Pair Plots
# Plot pairwise relationships in a dataset

cont_col= ['year','price','mileage']
sns.pairplot(car_data[cont_col],  kind="reg", diag_kind = "kde"   )
plt.show()

In [ ]:
What We Did It¶
We can see relationship between car price, year, brand like that so if you come here, please you upvote my notebook and feedback to me.Thank you so much for everything :)